# App URL
APP_URL=

# Vercel Upstash Redis KV Credentials
KV_REST_API_URL=
KV_REST_API_TOKEN=

# Qikink Integration Credentials
QIKINK_CLIENT_ID=
QIKINK_CLIENT_SECRET=
QIKINK_ENDPOINT=https://api.qikink.com
